# Requirements for WriterClassic
icecream==2.1.4
markdown2==2.5.3
Pillow==11.1.0
pygame==2.6.1
Pygments==2.19.1
pyperclip==1.9.0
pywin32==308
requests==2.32.3
simple_webbrowser==0.2.2
tkfontchooser==2.0.2
