asttokens==3.0.0
certifi==2025.1.31
charset-normalizer==3.4.1
colorama==0.4.6
executing==2.2.0
icecream==2.1.4
idna==3.10
markdown2==2.5.3
pillow==11.2.1
pygame==2.6.1
Pygments==2.19.1
PyLocalizer==0.0.4
pyperclip==1.9.0
requests==2.32.3
simple_webbrowser==0.2.2
tkfontchooser==2.0.2
urllib3==2.4.0
