[Desktop Entry]
Name=Writer Classic
Comment=Python text editor by MF366.
Exec=cd <filepath-goes-here> && python3 WriterClassic.py
Terminal=true
Type=Application
StartupNotify=false
Icon=<icon-filepath-goes-here>
Categories=GTK;Utility;TextEditor;Office;
Keywords=text;editor;code;files;notepad

Name[pt_PT]=writer-classic.desktop
