[Desktop Entry]
Name=Writer Classic
Name[pt]=Writer Classic
Comment=Edit text files.
Comment[pt]=Editar ficheiros de texto.
Exec=cd filepath for program && python3 main.py
Terminal=true
Type=Application
StartupNotify=false
Icon=Your file path for icon goes here.
Categories=GTK;Utility;TextEditor;Office;
Keywords=text;editor;code;files;notepad

Name[pt_PT]=writer-classic.desktop
