#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Utility;TextEditor;
Comment[pt_PT]=Editor de Texto Writer Classic
Comment=Editor de Texto
Exec=python3 [absolute_path]
GenericName[pt_PT]=Editor de Texto
GenericName=Editor de Texto
Icon=writerclassic
InitialPreference=8
Keywords[pt_PT]=texto;txt;editor;nota;bloco de notas;
Keywords=text;txt;editor;note;notepad;
MimeType=text/plain;
Name[pt_PT]=WriterClassic
Name=WriterClassic
Path=
StartupNotify=true
StartupWMClass=WriterClassic
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=Multi
X-DocPath=
X-KDE-SubstituteUID=false
X-KDE-Username=
